lark-parser==0.12.0
soupsieve==2.7
geometry_msgs==4.9.0
osrf-pycommon==0.2.1
osrf_pycommon==2.1.6
arrow==1.3.0
colcon-cmake==0.2.28
colcon-cmake==0.2.29
coloredlogs==15.0.1
nav_msgs==4.9.0
uri-template==1.3.0
std_srvs==4.9.0
humanfriendly==10.0
action_tutorials_py==0.20.5
rfc3339-validator==0.1.4
pydantic_core==2.33.2
rosbag2_py==0.15.14
pexpect==4.9.0
ros2run==0.18.12
Pygments==2.19.1
pycodestyle==2.12.1
examples_rclpy_minimal_client==0.15.3
rosidl_typesupport_fastrtps_cpp==2.2.2
netifaces==0.11.0
colcon-core==0.20.0
GitPython==3.1.45
tomli==2.2.1
fqdn==1.5.1
importlib_metadata==8.5.0
colcon-cd==0.1.1
jupyter_core==5.8.1
requests==2.32.5
resource_retriever==3.1.3
babel==2.17.0
traitlets==5.14.3
tf2_sensor_msgs==0.25.14
urllib3==2.5.0
charset-normalizer==3.4.3
scipy==1.16.1
nest-asyncio==1.6.0
pytest-cov==6.0.0
pytest-cov==6.2.1
visualization_msgs==4.9.0
rosidl_cli==3.1.6
kiwisolver==1.4.8
rqt_msg==1.2.0
launch_xml==1.0.9
transforms3d==0.4.2
multidict==6.1.0
rmw_dds_common==1.6.0
ptyprocess==0.7.0
grpcio==1.74.0
rqt_bag==1.1.5
launch_ros==0.19.10
jax==0.7.1
isoduration==20.11.0
ros2service==0.18.12
quality_of_service_demo_py==0.20.5
interactive_markers==2.3.2
colcon-parallel-executor==0.4.0
unicodedata2==15.1.0
ament_package==0.14.1
lxml==5.3.0
pytz==2025.2
builtin_interfaces==1.2.1
toml==0.10.2
json5==0.12.1
rqt_py_common==1.1.7
fonttools==4.55.3
topic_monitor==0.20.5
examples_rclpy_minimal_subscriber==0.15.3
colcon-ros==0.5.0
typing-inspection==0.4.1
overrides==7.7.0
pytest-repeat==0.9.4
webencodings==0.5.1
rpds-py==0.27.0
examples_rclpy_minimal_action_server==0.15.3
ros2action==0.18.12
tinycss2==1.4.0
pybind11-global==3.0.1
zipp==3.21.0
rosidl_typesupport_introspection_c==3.1.6
PyQt5==5.15.11
ros2node==0.18.12
qt_gui_cpp==2.2.4
pybind11==3.0.1
ipython==9.4.0
rqt_console==2.0.3
platformdirs==4.4.0
ament_lint_cmake==0.12.12
ament_copyright==0.12.12
rqt_plot==1.1.5
flake8==7.1.1
opt_einsum==3.4.0
aiohttp==3.11.10
defusedxml==0.7.1
colcon-python-setup-py==0.2.9
frozenlist==1.5.0
ipywidgets==8.1.7
casadi==3.7.1
rosidl_cmake==3.1.6
tf2_py==0.25.14
colcon-zsh==0.5.0
async-lru==2.0.5
jupyter-lsp==2.2.6
torch==2.8.0
rqt_action==2.0.1
rosbag2_interfaces==0.15.14
filelock==3.19.1
vtk==9.4.2
vtk==9.4.2
colcon-devtools==0.3.0
rosidl_typesupport_cpp==2.0.2
ros2pkg==0.18.12
ros2launch==0.19.10
jedi==0.19.2
setuptools==78.1.1
fsspec==2025.7.0
argcomplete==3.6.2
rosidl_typesupport_c==2.0.2
pytest==8.4.1
rqt_shell==1.0.2
ament_flake8==0.12.12
yarl==1.18.0
ros2multicast==0.18.12
ament_lint==0.12.12
protobuf==3.20.3
rqt_gui_py==1.1.7
jupyter_client==8.6.3
distlib==0.4.0
distlib==0.3.8
rosidl_generator_cpp==3.1.6
asttokens==3.0.0
tqdm==4.67.1
rqt_publisher==1.5.0
psutil==5.9.0
pandocfilters==1.5.1
prometheus_client==0.22.1
pep517==0.12.0
rosidl_parser==3.1.6
rpyutils==0.2.1
rosidl_runtime_py==0.9.3
shape_msgs==4.9.0
jsonpointer==3.0.0
tzdata==2025.2
ipython_pygments_lexers==1.1.1
appnope==0.1.4
lark==1.2.2
colcon-powershell==0.4.0
laser_geometry==2.4.0
example_interfaces==0.9.3
certifi==2025.8.3
sensor_msgs_py==4.9.0
ros2interface==0.18.12
rosidl_typesupport_introspection_cpp==3.1.6
jaxlib==0.7.1
ros2cli==0.18.12
ros2lifecycle==0.18.12
ros2topic==0.18.12
catkin_pkg==1.0.0
parso==0.8.5
PyQt-builder==1.15.3
httpcore==1.0.9
ament_cpplint==0.12.12
decorator==5.2.1
ml_dtypes==0.5.3
ament_uncrustify==0.12.12
pyproj==3.7.2
rich==14.1.0
msgpack==1.1.1
cffi==1.17.1
statistics_msgs==1.2.1
ipykernel==6.30.1
colcon-output==0.2.13
executing==2.2.0
PyQt5_sip==12.17.0
nbformat==5.10.4
jupyterlab_widgets==3.0.15
beautifulsoup4==4.13.5
stack-data==0.6.3
pybullet==3.2.5
ackermann_msgs==2.0.2
tf2_ros_py==0.25.14
message_filters==4.3.7
tornado==6.5.2
sympy==1.14.0
jsonschema==4.25.1
tf2_geometry_msgs==0.25.14
markdown-it-py==4.0.0
pycparser==2.21
tf2_kdl==0.25.14
rospkg==1.6.0
pytest-rerunfailures==13.0
pytest-rerunfailures==15.1
tf2_msgs==0.25.14
anyio==4.10.0
launch==1.0.9
lifecycle_msgs==1.2.1
nbconvert==7.16.6
map_msgs==2.1.0
pyparsing==3.2.0
referencing==0.36.2
ros2param==0.18.12
actionlib_msgs==4.9.0
cycler==0.11.0
rqt_reconfigure==1.1.2
Send2Trash==1.8.3
colcon-defaults==0.2.9
colcon-defaults==0.2.8
domain_coordinator==0.10.0
ament_pep257==0.12.12
nbclient==0.10.2
h11==0.16.0
gitdb==4.0.12
sniffio==1.3.1
mlagents-envs==0.28.0
launch_testing==1.0.9
examples_rclpy_executors==0.15.3
tf2_tools==0.25.14
colcon-recursive-crawl==0.2.3
matplotlib==3.10.0
mdurl==0.1.2
rosgraph_msgs==1.2.1
rqt_topic==1.5.0
networkx==3.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
ros2bag==0.15.14
jupyterlab_pygments==0.3.0
ros2component==0.18.12
mistune==3.1.3
image_geometry==3.2.1
python_qt_binding==1.1.2
diagnostic_msgs==4.9.0
rfc3987-syntax==1.1.0
mccabe==0.7.0
ament_cppcheck==0.12.12
rqt_srv==1.0.3
sros2==0.10.6
wcwidth==0.2.13
debugpy==1.8.16
rosdistro==1.0.1
colcon-common-extensions==0.3.0
colcon-bash==0.5.0
types-python-dateutil==2.9.0.20250822
Brotli==1.0.9
rqt_bag_plugins==1.1.5
jupyter-events==0.12.0
pillow==11.0.0
jupyterlab==4.4.6
rosidl_typesupport_fastrtps_c==2.2.2
prompt_toolkit==3.0.51
action_msgs==1.2.1
rosidl_generator_py==0.14.4
aiosignal==1.4.0
examples_rclpy_minimal_service==0.15.3
qt_gui==2.2.4
fastjsonschema==2.21.2
click==8.2.1
opencv-python==4.11.0
packaging==25.0
jupyterlab_server==2.27.3
argon2-cffi==25.1.0
jupyter_server==2.17.0
coverage==7.6.9
coverage==7.10.5
ament_cmake_test==1.3.12
webcolors==24.11.1
jsonschema-specifications==2025.4.1
sensor_msgs==4.9.0
colcon-metadata==0.2.5
ament_xmllint==0.12.12
rclpy==3.3.16
pendulum_msgs==0.20.5
colcon-package-information==0.4.0
idna==3.7
Jinja2==3.1.6
wheel==0.45.1
joint_state_publisher==2.4.0
pluggy==1.5.0
argon2-cffi-bindings==25.1.0
examples_rclpy_minimal_action_client==0.15.3
stereo_msgs==4.9.0
unique_identifier_msgs==2.2.1
tf_transformations==1.1.0
std_msgs==4.9.0
cppcheck-htmlreport==2.18.1
pure_eval==0.2.3
pydantic==2.11.7
pip==25.1
distro==1.9.0
termcolor==3.1.0
cloudpickle==3.1.1
cryptography==45.0.5
sentry-sdk==2.35.1
importlib_resources==6.4.0
trajectory_msgs==4.9.0
rosidl_adapter==3.1.6
gym-notices==0.1.0
pydocstyle==6.3.0
pyzmq==27.0.2
numpy==1.26.0
joint_state_publisher_gui==2.4.0
rfc3986-validator==0.1.1
aiohappyeyeballs==2.6.1
python-json-logger==3.3.0
ament_index_python==1.4.0
terminado==0.18.1
empy==3.3.4
contourpy==1.3.1
colcon-pkg-config==0.1.0
colcon-library-path==0.2.1
loguru==0.7.2
propcache==0.3.1
colcon-test-result==0.3.8
snowballstemmer==2.2.0
pycairo==1.23.0
catkin_tools==0.9.5
pcl_msgs==1.0.0
pydot==4.0.1
qt_dotgraph==2.2.4
typing_extensions==4.12.2
docutils==0.21.2
logging_demo==0.20.5
PyYAML==6.0.2
httpx==0.28.1
ros2doctor==0.18.12
attrs==24.3.0
matplotlib-inline==0.1.7
smmap==5.0.2
teleop_twist_keyboard==2.4.0
rcutils==5.1.6
launch_testing_ros==0.19.10
sip==6.10.0
composition_interfaces==1.2.1
colcon-argcomplete==0.3.3
rqt_service_caller==1.0.5
wslink==2.4.0
rcl_interfaces==1.2.1
action_tutorials_interfaces==0.20.5
opencv-python-headless==4.11.0
colcon-notification==0.3.0
demo_nodes_py==0.20.5
qt_gui_py_common==2.2.4
jupyter_server_terminals==0.5.3
examples_rclpy_minimal_publisher==0.15.3
bleach==6.2.0
iniconfig==2.1.0
colcon-package-selection==0.2.10
cv_bridge==3.2.1
rosdep==0.26.0
gym==0.26.2
annotated-types==0.7.0
rqt_py_console==1.0.2
turtlesim==1.4.2
rqt_graph==1.3.1
rosidl_generator_c==3.1.6
widgetsnbextension==4.0.14
pandas==2.3.2
six==1.17.0
pyflakes==3.2.0
angles==1.15.0
notebook_shim==0.2.4
rqt_gui==1.1.7
launch_yaml==1.0.9
wandb==0.21.3
comm==0.2.3
websocket-client==1.8.0
MarkupSafe==3.0.2
